<style>
body{
    margin: 0px;
    padding: 0px;
    padding-top: 60px;
}

@media(max-width:767px){
    #header .logout_btn a{
        margin-left: -30px;
    }
}
@media(max-width:576px){
    #header .logo{
        width: 50%;
    }
    #header .logout_btn{
        width: 50%;
    }
}
@media(max-width:550px){
    #header .logo{
        width: 60%;
        margin-left: -20px;
    
}
}
    @media(max-width:420px){
        #header .logo{
            width: 75%;
        }
        #header .logout_btn{
     margin: 18% 0%;
    }
        #header .logout_btn a{
        margin-left: -20px;
    }
    }
#content{
    margin-top: 80px;
}
#content .coldes{
   padding: 15px;
   margin-top:15px;
   margin-left:15px;
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid black;
}
#content .red{
    background-color: #e50000;
    color: #fff;
}
#content .time tr td{
        padding: 10px 142.5px;
        border: 1px solid black;
}
#container .hw_datepicker{

    z-index: 10;
    margin-bottom: 200px;
    position: relative;
}
    
    .hw_datepicker {
    position: absolute;
        /*top: -200px;*/
    top: 100% !important;
    left: 30% !important;
    z-index: 10 !important;
}

@media(max-width:420px){
    .hw_datepicker{
        left: 15% !important;
    }
}
    
#content .delivery-date{
    text-align: center;
    font-family:"Sans",Verdana,"sans-serif";
    font-size:15px;
    
}
#content .delivery-schedule{
    text-align: center;
}
#content .time{
    text-align: center;
    width: 406px;;
    margin-left: 66px;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#content .time li{
    padding: 10px 40px;
        border: 1px solid black;
}
.new{
  font-family:"Sans",Verdana,"sans-serif";
  margin-top:40px;
  font-size:25px;
  margin-bottom:20px;

}
.new1{
  font-family:"Sans",Verdana,"sans-serif";
  margin-top:30px;
  font-size:25px;
}
 
.col-md-2 a:hover{
  text-decoration:none;
  color:#ff0000;
}
.col-md-2 a{
  color:#000000;
  cursor:pointer;
}
.bg3{
   
  width:100%;
}
.col-md-2{
  color:#000000;
   
  font-family:'Droid Sans', sans-serif;
  font-size:1.5em;
  cursor:hand;
}
.col-md-2 a{
  color: white;
    font-size: 15px;
}



.new2{
  font-family:"Sans",Verdana,"sans-serif";
  margin-top:30px;
  margin-bottom:20px;
  margin-left:195px;
  font-size:25px;
}

#header {
  background: #ffffff;
  border-bottom: 1px rgba(0, 0, 0, 0.07) solid;
  z-index: 99;
  &.--not-top {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
}
* {
  transition-duration: 0.2s;
}
 

#content .coldes{
   padding: 10px;
   margin-top:15px;
   margin-left:15px;
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid black;
    font-weight:bold;
    font-family:"Sans",Verdana,"sans-serif";
}

#content .time tr td{
        padding: 10px 142.5px;
    border: 1px solid black;
    padding-left:50px;
}
 
#content .time{
    text-align: center;
    width: 306px;
    margin-left: 400px;
    margin-top:40px;
}
  
 
 
.col-md-3{
  margin-bottom:20px;
  padding-left:80px;

}
.btn-sm-danger{
  background: #e60000;
}
body{
    margin: 0px;
    padding: 0px;
}

@media(max-width:767px){
    #header .logout_btn a{
        margin-left: -30px;
    }
}
@media(max-width:576px){
    #header .logo{
        width: 50%;
    }
    #header .logout_btn{
        width: 50%;
    }
}
@media(max-width:550px){
    #header .logo{
        width: 60%;
        margin-left: -20px;
    
}
}
    @media(max-width:420px){
        #header .logo{
            width: 75%;
        }
        #header .logout_btn{
     margin: 18% 0%;
    }
        #header .logout_btn a{
        margin-left: -20px;
    }
    }
    
#content{
    margin-top: 80px;
}
 
#content .coldes{
   padding: 15px;
   margin-top:15px;
   
    display: inline-block;
    text-transform: uppercase;
    border: 1px solid black;
    border-radius:4px;
    font-family:"Sans",Verdana,"sans-serif";
    font-size:15px;
}

 .red {
     background-color: #e50000;
     color: #fff;
}

a.red,
a.red:focus,
a.red:hover {
    color: #fff;
}

#content .time tr td{
        padding: 10px 142.5px;
        border: 1px solid black;
}
 
#content .delivery-date{
    text-align: center;
    font-family:"Sans",Verdana,"sans-serif";
    font-size:15px;
    
}
#content .delivery-schedule{
    text-align: center;
}
#content .time{
    text-align: center;
    width: 406px;;
    margin-left: 88px;
}
ul{
    margin: 0px;
    padding: 0px;
    list-style: none;
    border-radius:5px;
}
#content .time li{
    padding: 10px 40px;
        border: 1px solid black;
        border-radius:5px;
        font-family:"Sans",Verdana,"sans-serif";
        color:#000000;
        font-size:1em;
}
 
#content{
  border:3px solid #f6f6f6;
 
  
   border-radius:8px;
   width:50%;
   height:80%;
   margin-left:25%;

   margin-bottom:10px;
   border-bottom-margin:20px;
   margin-top:110px;
   box-shadow:6px 6px 6px 6px #d3d3d3;
}
@media(max-width:380px){
  #content{
  width:80%;
  height:100%;
  margin-left:40px;
  border:5px solid #f6f6f6;
  border-radius:3px;
  box-shadow:2px 2px 2px 2px #f6f6f6;
   
}
}
@media(max-width:380px){
.new2{
  margin-left:15px;
}


}
.b2{
  margin-top:50px;
  margin-left:65px;
  margin-bottom:10px;
}
  @media(max-width:420px){
         .b2{
           margin-left:120px;
         }
    }
.bg3{
  margin-top:180px;
  width:100%;
}
 /*#container .hw_datepicker{
  margin-right:250px;
  margin-left:300px;
}*/
 

.icon-bar{
  background-color:#000000;
}

#header {
  background: #fff;
  border-bottom: 1px rgba(0, 0, 0, 0.07) solid;
  z-index: 99;
  &.--not-top {
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.1);
  }
}
* {
  transition-duration: 0.2s;
}




.pull-right{
	padding-right: 8px;
	margin-right: 10px;
	margin-top:10px;
}
.icon-bar{
  background-color:#d3d3d3;
}
.row30{
  font-size:20px;
  font-weight:bold;
  font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
  color:#000000;
  text-align:center;
  margin-bottom:20px;
}
.row1{
  font-size:15px;
  font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
  color:#000000;
  margin-bottom:20px;
}

.new{
  font-size: 15px;
  font-family:"Roboto", sans-serif;
    color: #333;
}

#head {
    font-family: 'Titillium Web', sans-serif;
    margin-top: -15px;
    color: #222;
    font-weight: 600;
}

.head-content {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 20px;
    color: #222;
    text-align: left;
}

.box {
    font-family: 'Roboto', sans-serif;
    margin-top: -10px;
    font-size: 15px;
}

.bg1{
  margin-top:100px;
}
.row99{
	 
font-size:20px;
font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
text-align:center;
margin-top:0px;
font-weight:bold;
}
.bg3{
  margin-top:20px;
  width:100%;
}

.col-md-2{
  color:#000000;
  
  font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
  font-size:1em;
  cursor:hand;
}
.col-md-2 a{
  color:white;
    font-size: 15px;
  cursor:pointer;
  text-decoration:none;
}
.col-md-2 a:hover{
  color:#ff0000;
}
 .row_101{
  background-color: #000000;
  color:#ffffff;
  font-size:15px;
  
  font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
  text-align: center;
  margin-top:0px;
   
}
.bg4{
  margin-top:0px;
  width:100%;
}

 .row_4{
    font-size:15px;
    font-family: 'Roboto', sans-serif;
     margin-top: -5px;
}

.row_101{
  background-color: #000000;
  color:#ffffff;
  font-size:15px;
   
  font-family:'Droid-Sans',sans-serif;
  text-align: center;
  padding-top:0px;
  padding-bottom:10px;
  margin-bottom:0px;
}

@media(max-width:767px){
    
    .bg1 .row_2 .col-sm-12{
        margin-top: -30px;
    }
    
    .login_ctrl{
        position: absolute;
        top: -8px;
        right: 15px;
    }
    
    nav{
        position: relative;
    }
    
    
}


.well-block {
    background-color: #fff;
    border-radius: 3px;
    padding: 25px 50px;
    box-shadow: 1px 1px 4px -2px rgba(0,0,0,0.4), -1px -1px 4px -2px rgba(0,0,0,0.4);
}

.well-block.select-date {
    padding-right: 70px;
    box-shadow: 0 5px 10px rgba(0,0,0,.3);
}

.well-block .heading,
.how-to-s  {
    font-size: 25px;
    font-family: "Titillium Web", sans-serif;
    color: #333;
    font-weight: 600;
    margin: 0;
    background: #f7f7f7;
    margin-left: -50px;
    margin-right: -70px;
    margin-top: -25px;
    padding-top: 22px;
    padding-bottom: 20px;
    padding-left: 50px;
    box-shadow: 0 -3px 5px -3px rgba(0,0,0,0.06) inset;
}

.how-to-s {
    margin-right: -50px;
}

.well-title {
    margin-bottom: 40px;
}

#hw_datepicker {
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.16), 0 0 0 1px rgba(0,0,0,0.08);
    border-radius: 2px;
    border: none;
    height: 40px;
    width: 96.5%;
}

.time-button,
.cnt-btn {
    border-radius: 2px;
    cursor: pointer;
    padding: 12px;
    border-radius: 3px;
    width: auto;
    border: none;
    color: #555;
    font-weight: 500;
    border: 1px solid #e52222;
    box-shadow: 3px 3px 10px -3px rgba(0,0,0,0.4);
}

.cnt-btn {
    padding-right: 40px !important;
    padding-left: 40px !important;
}

.time-button {
    display: block;
    margin-right: -25px;
}

.time-button:hover,
.time-button:focus {
    text-decoration: none;
}

.cnt-btn {
    color: #fafafa;
    padding: 9px;
    background: #e52222;
}

.cnt-btn:hover {
    color: #fff;
    background: #ec4f4b;
    box-shadow: 0 3px 4px 0 rgba(0,0,0,0.18), 0 3px 10px -5px rgba(0,0,0,0.16), 0 1px 15px 0 rgba(0,0,0,0.5);
}

.options:hover{
    cursor: pointer;
}

.options:active{
    background: black 1px solid !important;
    color: white !important;
}

.timing_click{
    text-align: right;
    padding: 10px;
    margin-right: -24px;
        text-align: center;
    margin-bottom: 2px;
    cursor: pointer;
    border: 1px solid #e8e8e8;
}


.timing_click:first-child {
    margin-top: 5px;
}

.timing_main{
    text-align: center;
    margin-top: 10px;
}
.select-date-text {
    font-size: 16px;
    font-weight: 400;
    color: #555;
    margin-bottom: 13px;
}


@media (max-width:380px){
    .options{
           padding: 8px!important;
           font-size: 11px;
           position: relative;
           left: -13px;
    }
    .options.sch1 {
        left: 0;
    }
    .opt_main{
        padding-left: 10px;
    }
    
    .opt_main:first-child{
        padding-right: 0px !important;
    }
    .abc{
            padding-left: 5px;
        text-align: center;
    }
    
    .coldes-ul{
        padding-left: 10px;
    }
}

@media (max-width:415px){
    .abc{
        font-size: 13px !important;
    }
    .coldes-ul{
            /* width: 113% !important; */
    }
}

.err {
    color: red;
    text-align: center;
    font-weight: 500;
}

footer {
    margin-top: 80px !important;
}

#hw_datepicker_trigger {
    padding: 9px;
    margin-top: -1px;
    background: #e52222;
}

#hw_datepicker_trigger i {
    font-size: 20px;
}

.how-to-s {
    font-family: "Titillium Web", sans-serif;
    font-size: 25px;
    font-weight: 600;
}

.hts_container {
    height: 433px;
}

.hts_container .feature-block {
    margin-top: 49px;
}

@media (max-width: 991px) {
    .hts_container {
        margin-top: 30px;
    }

    .hts_container {
        height: auto;
    }
}


@media (max-width: 767px) {
    .select-date {
        margin-top: 50px;
    }

    #login-btn {
        margin-top: -2px;
    }
}

@media (max-width: 550px) {
    #login-btn {
        border-bottom: none;
        padding-right: 40px;
        padding-top: 22px;
    }
    .cnt-btn {
        margin-right: -15px;
    }
}

@media (max-width: 414px) {
    .timing_click {
        /* margin-right: auto; */
    }
}

</style>


 <div class="container" style="margin-top:10%">
            <div class="row">
                <div class="col-md-6">
                    <div class="well-block select-date">
                        <div class="well-title">
                            <h2 class="heading">Select Delivery Date</h2>
                        </div>
                        <form>
                            <!-- Form start -->
                            <div class="row" >
                                <div class="col-md-12">
                                    <h4 class="select-date-text">Select Date: </h4>
                                    <div class="form-group" style="display:flex;display:relative">
                                        <input id="hw_datepicker" ng-model="date" class="form-control input-sm" type="text" size="40"/>
            <span class="input-group-btn">
              <button id="hw_datepicker_trigger" class="btn btn-danger btn-sm" type="button">
                <i class="fa fa-calendar" aria-hidden="true"></i>
              </button>
            </span>
                                    </div>
                                    <p class="err" ng-show="dateError">Select a date</p>
                                </div>
                                <!-- Text input-->
<!--
                                <div class="col-md-6">
                                    <div class="form-group">
                                        <label class="control-label" for="email">Email</label>
                                        <input id="email" name="email" type="text" placeholder="E-Mail" class="form-control input-md">
                                    </div>
                                </div>
-->
                                <!-- Text input-->
                               
                                <!-- Select Basic -->
                               
                               
                            </div>
                        <div class="well-title" style="margin-bottom: 25px; margin-top: 20px;">
                            <h4 class="select-date-text">Select Delivery Time: </h4>
                        </div> 
                        <div class="row abc">
                              <div class="col-sm-6 opt_main"  ng-repeat="i in desired" style="display:inline-block;text-align:center">  
                                    <div class="form-group">
                                        
                                         <ul class="coldes-ul">
                                         
                     <li  class="coldes" ng-click="changeschedule(i)" class="test">
                        <a href="#" onclick="event.preventDefault();" class="options time-button {{'sch'+$index}}" ng-class={"red":i.mark} >{{i.service }}</a>
                     </li>
                     
                 </ul>
                                    </div>
                            </div>        
                                </div>
<!--                            </div>-->
                        <div class="row timing_main" >               
                                <div class="col-sm-12">
                                    <div class="form-group">
                                        <div class="time" ng-hide="mytime">

                       
                     <ul class="coldes-ul">
                         <li class="timing_click" ng-repeat="i in time"  ng-click="timeadded(i)" ng-class={"red":i.mark} >{{i.timing}}</li>
                     </ul>
                   </div>
                                    </div>
                                </div>
                             </div>   
                        <div class="row">
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <div class="button" style="text-align:center">
                    <button  class="btn btn-md cnt-btn" id="Get" ng-click="postdata()">Continue</button>
                     
                 </div>
                                </div>
                            </div>
                        </div>              
                        </form>
                        <!-- form end -->
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="well-block hts_container">
                        <div class="well-title">
                            <h2 class="how-to-s">How to Schedule</h2>
                        </div>
                        <div class="feature-block">
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title">Select Date</h4>
                                <div class="feature-content" style="margin-bottom: 52px;">
                                    <p>Click on calendar option and select the date you desire to get delivery.</p>
                                </div>
                            </div>
                            <div class="feature feature-blurb-text">
                                <h4 class="feature-title">Select Time Slab</h4>
                                <div class="feature-content">
                                    <p>Click on As soon as possible to get instant delivery or Schedule for later to select time slab. </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</div>
 
<script src="../scripts/js/hw.datepicker.js"></script>
  <script>

      var minDate = new Date();
minDate.setDate(minDate.getDate());
var maxDate = new Date();
maxDate.setDate(maxDate.getDate()+4);
var selectedDate = new Date();
selectedDate.setDate(selectedDate.getDate() - 60);
 var datePicker = new DatePicker({
    input: $('#hw_datepicker'),
    trigger: $('#hw_datepicker_trigger'),
      
    container: $('#hw_datepicker').parent(),
    dateFormat: 'yyyy-mm-dd',
     minDate: minDate,
    maxDate: maxDate,

     
});
datePicker.init();
    </script>
    <script>
$(function(){
var stickyElement   = '.panel-affix',    
bottomElement   = '#fake-footer';  
if($( stickyElement ).length){
$( stickyElement ).each(function(){
   
  var fromTop = $( this ).offset().top, 
    
    fromBottom = $( document ).height()-($( this ).offset().top + $( this ).outerHeight()),
    
    stopOn = $( document ).height()-( $( bottomElement ).offset().top)+($( this ).outerHeight() - $( this ).height()); 
   
  if( (fromBottom-stopOn) > 200 ){
     
    $( this ).css('width', $( this ).width()).css('top', 0).css('position', '');
     
    $( this ).affix({
      offset: { 
        
        top: fromTop - 80,  
         
        bottom: stopOn
      }
    
    }).on('affix.bs.affix', function(){ $( this ).css('top', '80px').css('position', ''); });
  }
  
  $( window ).trigger('scroll'); 
}); 
}
});
$('body').scrollspy({
offset: 80
});
$(function() {
$('a[href*=#]:not([href=#])').click(function() {
if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
var target = $(this.hash);
target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
if (target.length) {
$('html,body').animate({
  scrollTop: target.offset().top
}, 1000);
return false;
}
}
});
});
    </script>