<style>

</style>
<div class="container md-padding">
    <p>
        Halanx homes me reh lo fraands.
    </p>
    <a href="https://halanxhomes.com" style="font-size: 40px;">Homes</a>
    <ol>
        <li>
            Halanx Homes is the next step on the way of our mission to make our neighborhood
            easily accessible, connected, affordable & secure.
        </li>
        <li>
            Through Halanx Homes, students, working people & families can rent fully furnished
            houses with all amenities in a good locality.
        </li>
        <li>
            Our generation doesn’t believe in buying mediocre houses. We want to have beautiful
            homes as soon as possible. Our generation is fan of on demand fulfillment, sharing
            economy and complete freedom to live our today to the fullest.
        </li>
        <li>
            Halanx Homes onboards house owners, prepare the agreement for tenants, take care of
            house with frequent cleaning, maintenance and online rent collection.
        </li>
        <li>
            This way Halanx Homes makes house owners earn more and have stable source of
            income, while giving tenants convenience, affordability and high living standard.
        </li>
    </ol>
</div>