<style>
    body {
        padding-top: 55px;
    }
    
    .icon-bar{
  background-color:#d3d3d3;
}
.row30{
  font-size:20px;
  font-weight:bold;
  font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
  color:#000000;
  text-align:center;
  margin-bottom:20px;
}
.row1{
  font-size:15px;
  font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
  color:#000000;
  margin-bottom:20px;
}

.new{
  font-size: 15px;
  font-family:"Roboto", sans-serif;
    color: #333;
}

#head {
    font-family: 'Titillium Web', sans-serif;
    color: #222;
    font-weight: 600;
}

.head-content {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 5px;
    margin-top: 20px;
    color: #222;
    text-align: left;
}

.box {
    font-family: 'Roboto', sans-serif;
    margin-top: -10px;
    font-size: 15px;
}

.bg1{
  margin-top:100px;
}
.row99{
	 
font-size:20px;
font-family:ff-clan-web-pro,"Helvetica Neue",Helvetica,sans-serif;
text-align:center;
margin-top:0px;
font-weight:bold;
}


 .row_4{
    font-size:15px;
    font-family: 'Roboto', sans-serif;
     margin-top: -5px;
     color: #333;
     text-align: left;
     font-weight: 400;
}

.row_101{
  background-color: #000000;
  color:#ffffff;
  font-size:15px;
   
  font-family:'Droid-Sans',sans-serif;
  text-align: center;
  padding-top:0px;
  padding-bottom:10px;
  margin-bottom:0px;
}

</style>

<div class="container-fluid" style="overflow:auto" name="toTop" id="toPos">
<div class="">
<h2 id="head">Refund and Cancellation</h2>
<!-- <p class="new">
This Privacy Statement was last updated on August 2, 2017.
Halanx may collect personal information to help you place and receive delivery orders and to improve the Halanx service. This Privacy Statement explains how Halanx Technologies Pvt Ltd. (“Halanx,” “we,” “us,” or “our”) handles your personal information when you visit or use <a class="new1" href="index.html">www.halanx.com</a>(the “Site”), the Halanx mobile application, and any other website or mobile application that links to this Privacy Statement (collectively, the “Services”).
Please review this Privacy Statement carefully. By using our Services you consent to the use and sharing of your personal information as described in this Privacy Statement. If you do not agree with these practices, please do not use the Services, or otherwise provide us with your personal information.
</p> -->
<!-- <p class="new">
Your access to and use of our Services are subject to our <a class="new1" href="terms.html">Terms and Conditions</a>, which define some of the terms used throughout this Privacy Statement. 
</p> -->
<div class="head-content row30">Cancellation</div>
<p class="new">
    In general, you shall not be entitled to cancel your order once you have received confirmation of the order. If you cancel your order after confirmation, Halanx shall have the right to charge cancellation fee of a minimum INR 70 up to the order value, with a right to either not refund the order value, or recover from H-Cash or in subsequent orders, the complete / deficit cancellation fee, as applicable, to compensate our merchants, and delivery contractors. In case of cancellation for reasons attributable to Halanx, our merchants, or our delivery contractors, Halanx shall not charge you any cancellation fee.</p>
    <p class="new">
    However, in the unlikely event of an item of your order being unavailable, we will contact you on the phone number provided to us at the time of placing the order, and will inform inform you about such unavailability. In such event, you shall be entitled to receive the refund as per our refund policy.</p>
    <p class="new">
    We reserve the sole right to cancel your order in the following circumstances:
    <ul class="box">
      <li>In the event of delivery address falls outside the delivery zone of Halanx.</li>
      <li>Failure to contact you via phone or email at the time of order booking.</li>
      <li>Failure to deliver your order due to lack of information, direction, and authorization from you at the time of delivery or completing the order.</li>
      <li>Unavailability of all items ordered by you at the time of booking the order.</li>
    </ul>
</p>
<div class="head-content row30">Refunds</div>
<p class="new">
    You shall be entitled to a refund only if you prepay for your order at the time of placing your order on the platform and only in the event of any of following circumstances:
    <ul class="box">
      <li>Order packaging being tampered or damaged at the time of delivery.</li>
      <li>We cancelling the order due to:
        <ol class="box" style="margin-top: 5px">
          <li>Your delivery location falling outside our delivery zone.</li>
          <li>Failure to contact you via phone or email at the time of confirmation of order booking.</li>
          <li>You cancelling the order because of unavailability of all items in the order at time of booking. Our decision to refund shall be at our sole discretion and shall be final and binding.</li>
        </ol>
      </li>
    </ul>
    All refund amounts shall be credited as H-Cash or to your account within 3-4 business days in accordance with the terms that may be stipulated by the bank which has issued the credit / debit card.
</p>
<div class="head-content row30">Contact Information</div>
<p class="new">
If you have any questions or concerns relating to this Privacy Statement or our privacy practices please contact us at:support@halanx.com
</p>
<div class="row_4">
Halanx Technologies Pvt Ltd.<br>
A-8/8, 2nd Floor<br>
Sector-17, Rohini<br>
Delhi-110089<br>
</div>
    </div>
    </div>