	 <style>
		 
		 .panel {
				border: none;
    	background-color: #fff;
    	border-radius: 3px;
    	box-shadow: 0 5px 10px rgba(0,0,0,.3);
		 }

		 .panel-heading {
			font-size: 25px;
			font-family: "Titillium Web", sans-serif;
			color: #333;
			font-weight: 600;
			margin: 0;
			padding: 10px 30px;
			background: #f7f7f7;
			box-shadow: 0 -3px 5px -3px rgba(0,0,0,0.06) inset;
			border: none;
			margin-bottom: 20px;
		 }

		 .cnt-btn {
			border-radius: 4px;
			padding: 8px 30px;
			background: #ed3833;
			border: none;
			margin-top: 20px;
			color: #fafafa;
			box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
			transition: all 0.4s cubic-bezier(0.49, 0.18, 0.29, 0.81);
	}

	.cnt-btn:hover {
		color: #fff;
			background: #ec4f4b;
			box-shadow: 0 3px 4px 0 rgba(0,0,0,0.18), 0 3px 10px -5px rgba(0,0,0,0.16), 0 1px 15px 0 rgba(0,0,0,0.5);
	}

	.s-cntainer {
		margin-bottom:130px;
	}

	.s-row {
		margin-top: 120px;
	}

	@media (max-width: 767px) {

#login-btn {
	margin-top: -2px;
}
}

@media (max-width: 550px) {
#login-btn {
	border-bottom: none;
	padding-right: 40px;
	padding-top: 22px;
}

.s-cntainer {
	margin-top: 80px;
}

.s-row {
	margin-top: 0;
}
}

 .panel-default>.panel-heading {
     text-align: center;
 }
		
	 </style>
	 
	 <div class="container s-cntainer">
		<div class="row s-row">
			<div class="col-sm-6 col-md-4 col-md-offset-4">
				<div class="panel panel-default">
					<div class="panel-heading">
						<strong style="font-size:25px"> Order Details</strong>
					</div>
					<div class="panel-body">
						<div role="form" action="#" method="POST">
							<fieldset>
								
								<div class="row">
									<div class="col-sm-12 col-md-10  col-md-offset-1 ">
										<div class="form-group" style="display:flex;flex:2">
											<div>Subtotal :</div>
											<div style="margin-left:auto">{{cost.Total}}</div>
										</div>
										<div class="form-group" style="display:flex;flex:2">
											<div>Delivery Charges :</div>
											<div style="margin-left:auto">{{cost.DeliveryCharges}}</div>
										</div>
										<div class="form-group" style="display:flex;flex:2">
											<div>GST :</div>
											<div style="margin-left:auto">{{cost.Taxes}}</div>
										</div>

										<div class="form-group" style="display:flex;flex:2">
											<div>H-Cash :</div>
											<div style="margin-left:auto">-{{cost1.xcash}}</div>
										</div>
 										
										<div class="form-group" style="display:flex;flex:2">
											<div>Total :</div>
											<div style="margin-left:auto">{{cost.TotalWithExtras}}</div>
										</div>

										 

										<div class="form-group" style="text-align:center">
											<button type="button" class="btn cnt-btn" ng-click="payment()">Continue</button>
										</div>
										</div>
									</div>
								</div>
							</fieldset>
						</div>
					</div>
					
                </div>
			</div>
		</div>
	</div>
  
  
   <div class="container-fluid " name="toTop" id="toPos">
   
    </div>
   
 <script>

$(function(){
var stickyElement   = '.panel-affix',    
bottomElement   = '#fake-footer';  
if($( stickyElement ).length){
$( stickyElement ).each(function(){
   
  var fromTop = $( this ).offset().top, 
    
    fromBottom = $( document ).height()-($( this ).offset().top + $( this ).outerHeight()),
    
    stopOn = $( document ).height()-( $( bottomElement ).offset().top)+($( this ).outerHeight() - $( this ).height()); 
   
  if( (fromBottom-stopOn) > 200 ){
     
    $( this ).css('width', $( this ).width()).css('top', 0).css('position', '');
     
    $( this ).affix({
      offset: { 
        
        top: fromTop - 80,  
         
        bottom: stopOn
      }
    
    }).on('affix.bs.affix', function(){ $( this ).css('top', '80px').css('position', ''); });
  }
  
  $( window ).trigger('scroll'); 
}); 
}
});
$('body').scrollspy({
offset: 80
});
$(function() {
$('a[href*=#]:not([href=#])').click(function() {
if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
var target = $(this.hash);
target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
if (target.length) {
$('html,body').animate({
  scrollTop: target.offset().top
}, 1000);
return false;
}
}
});
});
    </script>
