#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
   }

.hxpa-dashboard * {
    margin: 0;
    padding: 0;
}

.hxpa-dashboard .dash-head {
    background: #e63631;
    margin-right: -15px;
    margin-left: -10px;
    margin-top: 3px;
    padding: 32px 30px 28px;
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.hxpa-dashboard .dash-head h2 {
    /* font-family: 'Titillium Web', sans-serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    color: #fafafa;
}

.order-table {
    margin-top: 120px;
    margin-bottom: 100px;
}

.hxpa-dashboard .nav-tabs {
    margin-top: 230px;
    margin-bottom: 20px;
} 

.hxpa-dashboard .o-stat {
    text-align: center;
}

.hxpa-dashboard .table>tbody>tr>td {
    min-width: 85px;
}

.o-pending {
    color: red;
}

.o-done {
    color: #1b9c1b;
}

.hxpa-dashboard #menu3{
    background: white;
    text-align: center;
    padding: 0 5%;
}

/* .hxpa-dashboard #menu3 div.bottomest{
    padding: 0 5%;
} */

.hxpa-dashboard #menu3, .hxpa-dashboard #menu4, .hxpa-dashboard #menu5{
    /* font-family: "Titillium Web", sans-serif; */
    font-family: 'Roboto', sans-serif;
}

/* .hxpa-dashboard #menu3 div.col-sm-6{
    text-align: -webkit-center !important;
} */

.hxpa-dashboard #menu3 div.col-sm-6 div.box{
text-align: center;
background-color: #fff;
padding: 15px 35px;
border-radius: 2px;
position: relative;
margin-bottom: 30px;
-webkit-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
transition: all 0.3s ease;
border: 1px solid #f8f8f8;
box-shadow: 0 5px 10px -2px rgba(0,0,0,0.15);
/* width: fit-content; */
/* max-width: 400px; */
}

.hxpa-dashboard #menu3 div.col-sm-6 div.box h4{
    font-weight: 600;
    font-size: 22px;
    padding-bottom: 20px;
    margin: 0;
    color: #2b353a;
}

.hxpa-dashboard #menu3 div.col-sm-6 div.box input{
    display: block;
    margin:0 auto 12.5px;
    border: none;
    text-align: center;
    border-bottom: 0.5px solid grey !important;
}

.hxpa-dashboard #menu3 div.col-sm-6 div.box button{
    border: none;
    font-size: 14px;
    font-weight: 500;
    /* box-shadow: 0 5px 10px -2px rgba(0,0,0,0.15); */
    padding: 5px 10px;
    font-weight: 700;
}

.hxpa-dashboard #menu3 div.col-sm-6 div.box p.redeemed{
    font-size:16px;
    color: red;
    font-weight: 700;
}
.hxpa-dashboard #menu3 div.top{
    margin-bottom: 5%;
}



.hxpa-dashboard #menu3 div.row div.bottom{
    cursor: pointer;
    transition: 0.5s ease-in-out all;
}

.hxpa-dashboard #menu3 div.row div.bottom h3{
    padding: 2.5% 0 3% 0;
}

.hxpa-dashboard #menu3 div.row div.bottom.removed{
    background: rgb(250,250,250);
}

.hxpa-dashboard #menu3 div.row div.bottom.removed h3{
    font-weight:900;
    color: red;
    transition: 0.3s ease-in-out all;

}

.hxpa-dashboard #menu3 div.trans{
    /* border: 1px solid gray; */
    border-top: none;
    text-align: left;
    padding: 3.5%;
    transition: 0s all;
}

.hxpa-dashboard #menu3 div.bottomest2{
    box-shadow: 0px 0px 15px rgba(0,0,0,0.14);
}

.hxpa-dashboard #menu3 div.downside{
    box-shadow: 0px 7px 15px rgba(0,0,0,0.14) !important;
}

.hxpa-dashboard #menu3 div.downside div.trans img{
    width: 15%;
}

.hxpa-dashboard #menu3 div.downside div.trans div.col-6{
    padding-left: 5%;
    padding-right: 5%;
    margin-bottom: 5%;
}

.hxpa-dashboard #menu3 div.downside div.trans div.col-6 div.transoffers{
    border: 1px solid #eee;
    text-align: left !important;
    padding: 4%;
    border-radius: 10px;
}

.hxpa-dashboard #menu3 div.downside div.trans img, .hxpa-dashboard #menu3 div.downside div.trans h6{
    display: inline-block;
}

.hxpa-dashboard #menu3 div.downside div.trans div.top.row{
    margin-bottom: 1%;
}

.hxpa-dashboard #menu3 div.downside div.trans h6{
    margin: 0.75%;
    font-size: 20px;
}

.hxpa-dashboard #menu3 div.downside div.trans h6.date{
    font-size: 13px;
}


.hxpa-dashboard #menu3 div.downside div.trans p{
    text-align: center;
    font-size: 16px;
}

.hxpa-dashboard #menu3 div.downside div.trans p.linebelow{
    border-bottom: 1px solid #eee;
}

.hxpa-dashboard #menu3 div.modal{
    z-index:9999;
    padding-right: 0 !important;
}

.hxpa-dashboard #menu3 div.modal div.modal-dialog{
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.hxpa-dashboard #menu3 div.modal div.modal-header h4{
    font-weight: 500;
    font-size: 32px;
}

.hxpa-dashboard #menu3 div.modal div.modal-body{
    padding: 1% 25%;
}

.hxpa-dashboard #menu3 div.modal div.modal-body div.flexible{
    display: flex;
    justify-content: space-between;
}

.hxpa-dashboard #menu3 div.modal div.modal-body div.flexible h6{
    display: inline-block;
}

.hxpa-dashboard #menu3 div.modal div.modal-body h6{
    font-size: 16px;
    margin-top: 2%;
    margin-bottom: 2%;
}

.hxpa-dashboard #menu3 div.modal div.modal-footer{
    padding: 2% 5%;

}


.hxpa-dashboard #menu4 div.wallettop{
    width: 100%;
    text-align: center;
    margin-bottom: 5%;
}

.hxpa-dashboard #menu4 div.wallettop h3{
    margin-bottom: 1.5%;
}

.hxpa-dashboard #menu4 div.wallettop select{
    padding: 4px 15px 4px 8px;
    font-weight: 500;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.hxpa-dashboard #menu4 div.wallet{
    border: 1px solid #ccc;
    margin: 2% 25%;
    padding: 1% 2%;
}

.hxpa-dashboard #menu4 div.wallet div.walletline{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3.5%;
}

.hxpa-dashboard #menu4 div.wallet div.walletline p{
font-size: 18px;
}

.hxpa-dashboard #menu4 div.wallet div.walletline p.finalval{
    padding-bottom: 4%;
}

.hxpa-dashboard #menu4 div.wallet div.walletline p.positive{
    color: #1b9c1b;
}

.hxpa-dashboard #menu4 div.wallet div.walletline p.negative{
    color: red;
}

.hxpa-dashboard #menu4 div.wallet div.linebelow{
    border-bottom: 1px solid #ccc;
}

.hxpa-dashboard #menu4 div.wallet div.lastbutton{
    display: flex;
    justify-content: space-around;
}

.hxpa-dashboard #menu4 div.wallet div.lastbutton button{
    padding: 2% 5%;
    border: 1px solid;
    border-radius: 5px;
    font-weight: 700;
}

.hxpa-dashboard #menu4 div.wallet div.lastbutton button.add{
background-color:#e63631;
color: white;
}

.hxpa-dashboard #menu4 div.wallet div.lastbutton button.withdraw{
color: #e63631;
background-color: white;
border-color: #e63631;
}

.hxpa-dashboard #menu5{
    padding: 2.5% 5% 0;
    background: rgb(250,250,250);
    margin-top: -4%;
}

.hxpa-dashboard #menu5 div.EditStyle table tr th.opentime, .hxpa-dashboard #menu5 div.EditStyle table tr td.opentime{
    width:30vw;
}

.hxpa-dashboard #menu5 div.EditStyle table tr th.closetime, .hxpa-dashboard #menu5 div.EditStyle table tr td.closetime{
    width:30vw;
}

.hxpa-dashboard #menu5 div.box{
    /* border: 1px solid gray; */
    padding: 2% 3%;
    margin-bottom: 3%;
    min-height: 100px;
    background-color: white;
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.14);
}

.hxpa-dashboard #menu5 div.box:last-of-type{
    border-top: 1px solid rgba(0,0,0,0.1);
    box-shadow: 0px 10px 15px rgba(0,0,0,0.14);
}

.hxpa-dashboard #menu5 div.box button.fileuploadbutton{
    border: none;
    padding: 5% 12%;
    font-weight: 700;
    border-radius: 2px;
    font-size: 32px;
}

.hxpa-dashboard #menu5 div.box button.fileupload{
    padding: 1% 1.5%;
    border: none;
    border-radius: 50%;
}

.hxpa-dashboard #menu5 div.box button.fileupload i{
    font-size: 24px;
}

.hxpa-dashboard #menu5 div.box .borderbottom{
    border-bottom: 1px solid #eee;
    margin-bottom: 2.5%;
    font-size: 24px;
    /* font-family: serif; */
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
}

.hxpa-dashboard #menu5 div.box div.borderbottom{
    display: flex;
    justify-content: space-between;
}

.hxpa-dashboard #menu5 div.box p{
    margin-bottom: 2%;
}

.hxpa-dashboard #menu5 div.box p.upborder{
    margin-bottom: 0.5%;
}

.hxpa-dashboard #menu5 div.box p.border{
    border: 1px solid gray;
    width: 50%;
    padding: 0.5% 1%;
}

.hxpa-dashboard #menu5 div.box .editIt{
    text-align: center;
    width: 5vw;
}

.hxpa-dashboard #menu5 div.box .editIt button{
    padding: 0.50% 3.5%;
    border: none;
    color: white;
    background: #e63631;
    font-weight: 700;
    border-radius: 5px;
    margin-top: 3%;
}

.hxpa-dashboard #menu5 div.box p.lastp{
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    margin-top: 2%;
}

.hxpa-dashboard #menu5 div.box p.red{
    color: red;
}

.hxpa-dashboard #menu5 div.box p.green{
    color: green;
}

.hxpa-dashboard #menu5 div.box table, .hxpa-dashboard #menu5 div.box table tbody, .hxpa-dashboard #menu5 div.box table tr{
    width: 100%;
}

.hxpa-dashboard #menu5 div.box table tr{
    display: inline-block;
    margin-bottom: 1%;
}

.hxpa-dashboard #menu5 div.box table th, .hxpa-dashboard #menu5 div.box table td{
    /* width: 16.5vw; */
    text-align: left;
}

.hxpa-dashboard #menu5 div.box table .day{
    text-align: left;
    width: 19vw;
}

.hxpa-dashboard #menu5 div.box table .opentime, .hxpa-dashboard #menu5 div.box table .closetime{
    text-align: left;
    width: 25vw;
}

.hxpa-dashboard #menu5 div.box table tr td.opentime{
   padding: 0 1%;
}

.hxpa-dashboard #menu5 div.box div.row div.imagebox{
    margin: 1% 4%;
}

.hxpa-dashboard #menu5 div.box div.row div.imagebox img, .hxpa-dashboard #menu5 div.box div.row div.imagebox label{
    height: 150px;
}

.hxpa-dashboard #menu5 div.box div.row.over{
    overflow: hidden;
}

.hxpa-dashboard #menu5 div.box div.row.over div.wrapper{
    width: 100% !important; 
                                margin: auto; 
                                text-align: center; 
                                position: relative;
                                -webkit-border-radius: 5px;
                                -moz-border-radius: 5px;
                                border-radius: 5px;
                                margin-bottom: 20px !important;
                                padding-top: 5px;
}

.hxpa-dashboard #menu5 div.box div.row.over div.wrapper div.scrolls{
    overflow-x: scroll;
                                        overflow-y: hidden;
                                        height: 180px;
                                    white-space:nowrap
}

.hxpa-dashboard #menu5 div.box div.row.over div.wrapper div.scrolls img{
    box-shadow: 1px 1px 10px #999; 
                                             margin: 0 2%;
                                             max-height: 175px;
                                             cursor: pointer;
                                         display:inline-block;
                                         *display:inline;
                                         *zoom:1;
                                         vertical-align:top
}

.hxpa-dashboard #menu5 div.box div.row div.extraimagebox{
padding: 0 3.5%;
}

.hxpa-dashboard #menu5 div.box label.extraimg input{
    display: none;  
}

.hxpa-dashboard #menu5 div.box label.extraimg{
    border: 1px solid #000;
    display: inline-block;
    position: relative;
    /* cursor: pointer; */
    width: 100%;
    font-size: 100px;
}

.hxpa-dashboard #menu5 div.box label.extraimg p{
    position: absolute;
    left: 50%;
    transform: translate(-50%,-5%);
    margin-bottom: 0;
}

.hxpa-dashboard #menu5 div.box div.borderbottom p{
    cursor: pointer;
    font-size: 16px;
}

.hxpa-dashboard #menu5 div.box label.uploader{
    width: fit-content;
    height: fit-content;
    font-size: 30px;
    border-radius: 50%;
    padding: 0 1%;
    position: relative;
}

.hxpa-dashboard #menu5 div.box label.uploader p{
    font-size: 10px;
    width: max-content;
    transform: translate(-50%,0);
    top: 100%;
}

.hxpa-dashboard #menu5 .addmember{
    margin-bottom: 5%;
}

.hxpa-dashboard #menu5 .addmember div.photo{
    display: flex;
    margin-bottom: 1%;
}

.hxpa-dashboard #menu5 .addmember div.photo div.namerole{
    margin-left: 2.5%;
}

.hxpa-dashboard #menu5 .addmember div.photo div.namerole input{
    margin-bottom: 1.5%;
}

.hxpa-dashboard #menu5 .addmember div.photo div.namerole input, .hxpa-dashboard #menu5 .addmember div.photo div.namerole select{
    width: 100%;
    padding-left: 1.5%;
    border: none;
    border-bottom: 1px solid #eee;
}
.hxpa-dashboard #menu5 .addmember div.details label{
    width: 100%;
}

.hxpa-dashboard #menu5 .addmember div.details label.toplabel{
    margin-bottom: 0.75%;
}

.hxpa-dashboard #menu5 .addmember div.details input{
    position: relative;
    left: 2.5%;
    width: 20%;
    font-weight: 400;
    padding-left: 0.5%;
    border:none;
    border-bottom: 1px solid #eee !important;
}

.hxpa-dashboard #menu5 .addmember div.details input[type="email"]{
    margin-left: 0.4%;
}

.hxpa-dashboard #menu5 .addmember div.details input#email{
    margin-left: 0.4%
}

.hxpa-dashboard #menu5 .addmember button{
    margin: 2% 12.5% 0;
    border-radius: 3px;
    padding: 0.5% 1%;
    border: none;
}

.hxpa-dashboard #menu5 div.box.nobottom{
    margin-bottom: 0;
    border-bottom: none;
}

.hxpa-dashboard #menu5 div.editing input, .hxpa-dashboard #menu5 div.editing textarea{
    margin-bottom: 2%;
    width: 100%;
    border: none;
    border-bottom: 1px solid #eee;
}

.hxpa-dashboard #menu5 div.box h5, .hxpa-dashboard #menu5 div.box h4{
    font-weight: 400;
}

.hxpa-dashboard #menu5 table tr td input{
    border: none;
    border-bottom: 1px solid #eee;
    text-align: center;
}

.hxpa-dashboard #menu5 div.box .centerIt{
    width: 100%;
}

.hxpa-dashboard #menu5 div.box .centerIt button{
    padding: 1.5% 2.5%;
}


.hxpa-dashboard #menu6{
    background: rgb(250,250,250);
    /* font-family: sans-serif; */
    font-family: 'Roboto', sans-serif;
}

.hxpa-dashboard #menu6 div.col-sm-8 div.leftside{
padding-right: 1.5%;
border-left: none;
}

.hxpa-dashboard #menu6 div.col-sm-4 div.rightside{
    padding-left: 1.5%;
}

.hxpa-dashboard #menu6 table tr td.hometime h5{
    margin-bottom: 5%;
}

.hxpa-dashboard #menu6 div.coverpic, .hxpa-dashboard #menu5 div.coverpic{
    min-height: 267px;
    background-size: 100% 100%;
    height:40vh;
    position: relative;
    border: 1px solid gray;
    margin-bottom: 5%;
}

.hxpa-dashboard #menu5 div.coverpic{
    height: 50vh;
}

.hxpa-dashboard .md-chips{
    padding-bottom: 1%;
}

.hxpa-dashboard .EditStyle .md-chips md-chip .md-chip-content{
    cursor: default;
}

.hxpa-dashboard #menu6 div.coverpic div.info, .hxpa-dashboard #menu5 div.coverpic div.info{
    position: absolute;
    /* left: 5%; */
    padding-bottom: 1%;
    padding-left: 5%;
    width: 100%;
    bottom: 0%;
    background: linear-gradient(0deg,rgba(0,0,0,0.7) 30%, rgba(0,0,0,0.4) 40%, rgba(255,255,255,0.2) 80%, rgba(255,255,255,0.1) 100%)  no-repeat;
}

.hxpa-dashboard #menu6 div.coverpic div.info{
    background: linear-gradient(0deg,rgba(0,0,0,0.7) 30%, rgba(0,0,0,0.4) 75%, rgba(255,255,255,0.2) 100%)  no-repeat
}

.hxpa-dashboard #menu6 div.coverpic div.info img, .hxpa-dashboard #menu5 div.coverpic div.info img{
    width: 11%;
}

.hxpa-dashboard #menu6 div.coverpic div.info div.heads, .hxpa-dashboard #menu5 div.coverpic div.info div.heads{
    display: inline-block;
    vertical-align: middle;
    margin-left: 2.5%;
}

.hxpa-dashboard #menu6 div.leftside div.coverpic div.info h3, .hxpa-dashboard #menu5 div.coverpic div.info h3{
    color: white;
    font-weight: 700;
    margin-bottom: 4%;
}

.hxpa-dashboard #menu6 div.rightside .carousel-inner>.item{
    width: 75%;
    margin: 0 auto;
}

.hxpa-dashboard #menu5 div.coverpic div.info h5{
    margin-top: 0.5%;
    font-size: 14px;
    color: white;
    padding-left: 3%;
    cursor: pointer;
}

.hxpa-dashboard #menu6 div.leftside div.coverpic div.change, .hxpa-dashboard #menu5 div.coverpic div.change{
    position: absolute;
    right: 5%;
    top: 5%;
    text-align: center;
    color: white;
    cursor: pointer;
}
/* .hxpa-dashboard #menu5 div.coverpic div.change2{
    position: absolute;
    left: 2%;
    top: 2%;
    text-align: center;
    color: black;
    cursor: pointer;
} */

.hxpa-dashboard #menu6 div.leftside div.coverpic div.change i, .hxpa-dashboard #menu5 div.coverpic div.change i{
    font-size: 20px;
}

/* .hxpa-dashboard #menu5 div.coverpic div.change2 i{
    font-size: 12px;
} */

.hxpa-dashboard #menu6 div.leftside div.coverpic div.change h5, .hxpa-dashboard #menu5 div.coverpic div.change h5{
    font-weight: 700;
}

/* .hxpa-dashboard #menu5 div.coverpic div.change2 h5{
    font-weight: 500;
} */


.hxpa-dashboard #menu6 div.leftside div.sponsored{
    border: 1px solid gray;
    min-height: 200px;
    margin-bottom: 5%;
    padding: 1% 1.5%;
    position: relative;
}

.hxpa-dashboard #menu6 div.leftside div.sponsored h1{
    font-weight: 600;
    font-size: 20px;
}

.hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes{
    margin-bottom: 7.5%;
}

.hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-6, .hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-4{
    padding: 1% 1.5%;
    margin-top: 3%;
    max-height: 110px;
}

.hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-6 div.box, .hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-4 div.box{
    border: 1px solid #eee;
    border-radius: 3px;
    padding: 1% 1.5%;
    min-height: 100px;
}

.hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-6 div.box.nobor{
    border: none;
}

.hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-6 div.box.bannerbox label{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-6 div.box.bannerbox{
    position: relative;
}

.hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-4 div.box.addbanner{
    cursor: pointer;
    padding: 1.5% 1.5%;
    text-align: center;
}

.hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-4 div.box.addbanner i{
    font-size: 30px;
}

.hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-6 div.box.bannerbox i{
    font-size: 30px;
}

.hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-6 div.box.bannerbox label{
    cursor: pointer;
    text-align: center;
}

.hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-6 div.box.bannerbox input{
    display: none;
}

.hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-4 div.box.addbanner label{
    cursor: pointer;
}

.hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-4 div.box.addbanner input{
    display: none;
}

.hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-6 div.box p, .hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-6 div.box textarea, .hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-4 div.box p{
    font-size :1.2vw;
    font-weight: 600;
    border-color: #eee;
}

.hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-6 div.box textarea{
    padding: 1.5%;
    font-weight: 500;
}

.hxpa-dashboard #menu6 div.leftside div.sponsored button{
position: relative;
padding: 0.5% 1.5%;
border: 1.5px solid rgba(238,238,238,0.5);
border-radius: 4px;
background-color: transparent;
left: 50%;
transform: translate(-50%);
bottom: 2.5%;
font-weight: 700;
font-size: 18px;
}

.hxpa-dashboard #menu6 div.leftside div.sponsored button:hover{
    border-color: rgba(200,200,200,1);
}

.hxpa-dashboard #menu6 div.leftside div.postsection div.post{
    border: 1px solid gray;
    padding: 1% 1.5%;
    margin-bottom: 3.5%;
}

.hxpa-dashboard #menu6 div.leftside div.postsection div.post div.info div.heads + h4{
    margin-top: 1%;
}

.hxpa-dashboard #menu6 div.leftside div.postsection div.post div.info div.heads + h4 i{
    color: #F1CA01;
}

.hxpa-dashboard #menu6 div.leftside div.postsection div.post div.info div.heads{
    display: inline-block;
    vertical-align: middle;
    margin-left: 2.5%;
    text-transform: capitalize;
}

.hxpa-dashboard #menu6 div.leftside div.postsection div.post div.info div.heads h4:first-of-type{
    margin-bottom: 5%;
}

.hxpa-dashboard #menu6 div.leftside div.postsection div.post div.info div.heads h4:last-of-type{
    margin-top: -2%;
    font-size: 14px;
}

.hxpa-dashboard #menu6 div.leftside div.postsection div.post div.selfiebg{
    width: 100%;
    max-height: 300px;
    margin: 2% 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 200px;
}

/* .hxpa-dashboard #menu6 div.leftside div.postsection div.post img.selfie{
    width: 100%;
    max-height: 400px;
    margin: 2% 0;
} */

.hxpa-dashboard #menu6 div.leftside div.postsection div.post div.row div.col-sm-4{
    padding: 0 1.5%;
}

.hxpa-dashboard #menu6 div.leftside div.postsection div.post div.row div.col-sm-4 p{
    font-size: 1.25vw;
    text-align: center;
}

.hxpa-dashboard #menu6 div.leftside div.postsection div.post div.row div.col-sm-4 p.modallink{
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
    font-size: 1vw;
    text-decoration: underline;
}

.hxpa-dashboard #menu6 div.leftside div.postsection div.post div.modal{
    opacity: 1;
    z-index: 999999;
    /* padding-right: 0 !important; */
}

.hxpa-dashboard #menu6 div.leftside div.postsection div.post div.modal div.modal-dialog{
    margin: 0 auto;
    top: 50%;
    transform: translateY(-50%);
}

.hxpa-dashboard #menu6 div.leftside div.postsection div.post div.modal div.modal-body{
    padding: 1.5%;
}

.hxpa-dashboard #menu6 div.leftside div.postsection div.post div.modal .modal-header .close{
    margin-top: -5px;
    color: black;
    opacity: 1;
    transform: translate(-8px,8px);
}

.hxpa-dashboard #menu6 div.leftside div.postsection div.post div.modal .modal-header .close span{
    font-size: 24px;
}

.hxpa-dashboard #menu6 div.leftside div.postsection div.post div.modal div.modal-header h4{
    text-align: center;
    font-weight: 700;
    font-size: 22px;
}

.hxpa-dashboard #menu6 div.leftside div.postsection div.post div.modal div.modal-body{
    overflow-y: scroll;
    max-height: 400px;
}

.hxpa-dashboard #menu6 div.leftside div.postsection div.post div.modal div.modal-body img{
    width: 100%;
}

.hxpa-dashboard #menu6 div.leftside div.postsection div.post div.modal div.modal-footer{
    text-align: center;
    padding: 2% 0;
}

.hxpa-dashboard #menu5 div.coverpic, .hxpa-dashboard #menu6 div.leftside div.coverpic, .hxpa-dashboard #menu6 div.leftside div.sponsored, .hxpa-dashboard #menu6 div.leftside div.postsection div.post{
    border: none;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.14);
    background-color: white;
    border-radius: 3px;
    padding-bottom: 2%;
    min-height: 125px !important;
}

.hxpa-dashboard #menu6 hr.linebw{
    border-top: 2px solid #eee;
    margin:  1.5% 0;
}

.hxpa-dashboard #menu6 div.row div.col-sm-6 div.cont{
    cursor: pointer;
    width: fit-content;
    margin: 0 auto;
}

.hxpa-dashboard #menu6 div.row div.col-sm-6 div.cont p{
    font-size: 16px;
}

.hxpa-dashboard #menu6 div.rightside div.box{
    border: none;
    border-radius: 3px;
    margin-bottom: 3.5%;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.14);
    padding: 2% 2.5%;
    /* border-bottom: 1px solid gray; */
}

.hxpa-dashboard #menu6 div.rightside .borderbottom{
    border-bottom: 1px solid #eee;
    margin-bottom: 2.5%;
    font-size: 22px;
}

.hxpa-dashboard #menu6 div.rightside p{
    margin-bottom: 1.5%;
    font-size: 14px;
}

.hxpa-dashboard #menu6 div.rightside p i{
    margin-right: 1.5%;
    margin-left: 1%;
    text-align: center;
    width: 16px;
    height: 16px;
}

.hxpa-dashboard #menu6 div.rightside div.box.center{
    text-align: center;
}

.hxpa-dashboard #menu6 div.rightside div.box a{
    text-decoration: none;
    color: #333;
    font-size: 16px;
    letter-spacing: 1.5px;
}

.hxpa-dashboard #menu6 div.rightside div.box div.carousel{
    margin: 3% 0;
}

.hxpa-dashboard #menu6 div.rightside div.box div.carousel div.item img{
    max-height: 275px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.hxpa-dashboard #menu7{
    background-color: rgb(250,250,250);
    padding-top: 2.5%;
    margin-top: -2.5%;
    padding-left: 1%;
    padding-right: 0.5%;
}

.hxpa-dashboard #menu7 .borderbottom{
    border-bottom: 1px solid #eee;
}

.hxpa-dashboard #menu7 div.row div.col-sm-6:first-of-type{
    padding-right: 2.5%;
}

.hxpa-dashboard #menu7 div.row div.col-sm-6:last-of-type{
    padding-left: 2.5%;
}

.hxpa-dashboard #menu7 div.box{
    padding: 1% 1.5%;
    background-color: white;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.14);
    margin-bottom: 5%;
    border-radius: 3px;
    min-height: 225px;
}

.hxpa-dashboard #menu7 div.box.nobox{
    padding: 0 !important;
}

.hxpa-dashboard #menu7 div.box.nobox h3, .hxpa-dashboard #menu7 div.box.nobox div.borderbottom{
    padding: 1% 1.5%;
    font-size: 22px;
    background: rgb(250,250,250);
}

.hxpa-dashboard #menu7 div.box.nobox .boxit{
    padding: 1% 1.5%;
}

.hxpa-dashboard #menu7 div.box div.row{
    padding: 2.5% 1.5%;
}

.hxpa-dashboard #menu7 div.box div.row div.col-sm-6.center{
    text-align: center;
    transform: translateY(50%);
    margin-bottom: 5%;
}

.hxpa-dashboard #menu7 div.box div.row h4{
    font-size: 22px;
}

.hxpa-dashboard #menu7 div.box div.row div.bars{
    padding: 0 10%;
    margin-top: 7.5%;
}

.hxpa-dashboard #menu7 div.box div.row div.progress{
    margin-bottom: 2.5%;
    overflow: visible;
    position: relative;
}

.hxpa-dashboard #menu7 div.box div.row div.progress div.progress-bar{
    border-radius: 3px;
}

.hxpa-dashboard #menu7 div.box div.row div.progress p{
    margin-left:2.5%;
    font-weight: 700;
    display: flex;
}

.hxpa-dashboard #menu7 div.box div.row div.progress p.left{
    position: absolute;
    top: 0;
    right: 100%;
    transform: translate(-50%);
}

.hxpa-dashboard #menu7 div.box div.row div.progress p.left i{
    margin-left: 5%;
    margin-top:10%;
    color: #FDE35E;
}

.hxpa-dashboard #menu7 div.box p.roi{
    font-size: 50px;
    text-align: center;
    margin-top: 10%;
}

.hxpa-dashboard #menu7 .angular-input-stars > li{
    font-size: 20px;
    padding-left: 2px;
    padding-right: 2px;
}

.hxpa-dashboard #menu7 div.box div.walletamt{
display: flex;
justify-content: space-around;
margin-top: 5%;
}

.hxpa-dashboard #menu7 div.box div.walletamt p{
    font-size: 28px;
}

.hxpa-dashboard #menu7 div.box div.walletamt p:first-of-type{
    margin-left: 35%;
}

.hxpa-dashboard #menu7 div.box div.walletamt p:last-of-type{
    margin-right: 35%;
}

.hxpa-dashboard #menu7 div.box div.walletamt p i{
    font-size: 32px;
    cursor: pointer;
}

.hxpa-dashboard #menu7 datepicker input{
    background: rgb(250,250,250);
    border: none;
    border-bottom: 1px solid lightgrey;
}

.hxpa-dashboard #menu7 div.box button{
    border: none;
    font-size:18px;
    font-weight: 400;
    border-radius: 5px;
    padding: 2% 4%;
    position: relative;
    left: 50%;
    top:50%;
    transform: translate(-50%,100%);    
}

.hxpa-dashboard #menu7 div#piechart div[dir="ltr"], .hxpa-dashboard #menu7 div#piechart svg{
    width: 100% !important;
}

/* .hxpa-dashboard #menu7 div.sales div.bargraph svg + rect, .hxpa-dashboard #menu7 div.sales div.bargraph svg, .hxpa-dashboard #menu7 div.sales div.bargraph div{ 
    width: 100% !important;
 } */

 .hxpa-dashboard #menu7 div.box div.col-sm-9{
     text-align: right;
 }

 .hxpa-dashboard #menu7 div.box div.col-sm-9 label{
    text-align: left;
    font-size: 20px !important;
}


/* 
.hxpa-dashboard #menu7 div.sales div.chart{
    width: 100%;
    min-height: 450px;
} */


.hxpa-dashboard #menu8{
    background-color: white;
    padding: 1% 1.5%;
    min-height: 350px;
}

.hxpa-dashboard #menu8 div.box{
    padding: 1% 1.5%;
    background-color: rgb(250,250,250);
    border-radius: 3px;
    box-shadow: 0px 0px 15px rgba(0,0,0,0.14);
    margin-bottom: 3%;
}

.hxpa-dashboard #menu8 div.box div.notifications div.img{
    background-repeat: no-repeat;
    background-size: contain;
    height: 60px;
}

.hxpa-dashboard #menu8 div.box div.notifications div.info p.content{
    margin-bottom: 1%;
    font-size: 18px;
}

.hxpa-dashboard #menu8 div.box div.notifications div.info p.datestamp{
    font-size: 12px;
}









@media(min-width:768px){
    .hxpa-dashboard #menu3 div.top div.col-sm-6:first-child{
        padding: 0 3% 0 0;
    }
    
    .hxpa-dashboard #menu3 div.top div.col-sm-6:last-child{
        padding: 0 0 0 3%;
    }
}



@media(max-width:768px){
    .hxpa-dashboard #menu6 table tr td.hometime h5{
        font-size: 12px;
    }
    .hxpa-dashboard #menu4 div.wallet{
        margin: 2% 10%;
    }
    .hxpa-dashboard #menu5 div.box table td.opentime input, .hxpa-dashboard #menu5 div.box table td.closetime input{
        width: 70%;
    }
    .hxpa-dashboard #menu5 div.box table th.opentime{
        /* width: 50%; */
        text-align: left;
    }
    .hxpa-dashboard #menu5 div.box table th.closetime{
        /* width: 50%; */
        text-align: left;
    }
    .hxpa-dashboard #menu5 .addmember div.photo div.namerole {
        margin-left: 5%;
    }
    .hxpa-dashboard #menu5 div.box label.uploader{
        padding: 0 3%;
    }
    .hxpa-dashboard #menu5 div.photo{
        margin-bottom: 4%;
    }
    .hxpa-dashboard #menu5 .addmember div.details input#email {
        margin-left: 1.7%;
    }
    .hxpa-dashboard #menu5 .addmember div.details input{
        width: 50%;
    }
    .hxpa-dashboard #menu5 div.box div.addmember{
        padding: 2% 0;
    }
    .hxpa-dashboard #menu6 div.rightside p{
        font-size: 12px;
        text-align: center;
    }
    .hxpa-dashboard #menu6 div.rightside .borderbottom, .hxpa-dashboard #menu6 div.rightside h3{
        font-size: 18px;
        text-align: center;
    }
    .hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-6 div.box p, .hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-4 div.box p{
        font-size: 10px;
    }
    .hxpa-dashboard #menu8 div.box div.notifications div.info{
        padding-left: 2% !important;
    }
    .hxpa-dashboard #menu6 div.leftside div.postsection div.post div.row div.col-sm-4 p{
        font-size: 14px;
    }
    .hxpa-dashboard #menu6 div.leftside div.postsection div.post div.row div.col-sm-4 p.modallink{
        font-size: 12px;
    }
    .hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-6 div.box textarea{
        width: 100%;
        font-size: 11px !important;
    }
    .hxpa-dashboard #menu7 div.row div.col-sm-6:last-of-type{
        padding-left: 0 !important;
    }
    .hxpa-dashboard #menu7 div.row div.col-sm-6:first-of-type{
        padding-right:  0 !important;
    }
    .hxpa-dashboard #menu3 div.col-sm-6 div.box{
        margin: 0 auto 30px;
    }
    
}

@media(max-width:576px){
    .hxpa-dashboard #menu4 div.wallet{
        margin: 2% 0% !important;
    }
    .hxpa-dashboard #menu6 table tr td.hometime h5{
        font-size: 8px;
    }
    .hxpa-dashboard #menu6 div.leftside div.postsection div.post div.row div.col-sm-4 p{
        font-size: 12px !important;
    }
    .hxpa-dashboard #menu6 div.leftside div.postsection div.post div.row div.col-sm-4 p.modallink{
        font-size: 10px !important;
    }
    .hxpa-dashboard #menu6 div.leftside div.sponsored h1{
        font-size: 16px !important;
    }
    .hxpa-dashboard #menu5 div.coverpic div.info img, .hxpa-dashboard #menu6 div.coverpic div.info img{
        width: 18% !important;
    }
    .hxpa-dashboard #menu6 div.leftside div.coverpic div.info h3, .hxpa-dashboard #menu5 div.coverpic div.info h3{
        font-size: 16px !important;
    }
    .hxpa-dashboard #menu6 div.coverpic{
        max-height: 80px !important;
        min-height: 0px !important;
    }
    .hxpa-dashboard #menu6 div.rightside div.coverpic div.info img{
        width: 25% !important;
    }
    .hxpa-dashboard #menu6 div.rightside div.heads p{
        font-size: 8px !important;
    }
    .hxpa-dashboard #menu6 div.post div.info img{
        width: 35px !important;
        height: 35px !important;
    }
    .hxpa-dashboard #menu6 div.leftside div.postsection div.post div.info div.heads h4:first-of-type{
        font-size: 16px !important;
    }
    .hxpa-dashboard #menu6 div.row div.col-sm-6 div.cont p{
        font-size: 14px !important;
    }
    #map{
        height: 200px !important;
    }
    .hxpa-dashboard #menu6 div.leftside div.sponsored button{
        font-size: 14px !important;
    }
    .hxpa-dashboard #menu6 div.leftside div.sponsored div.boxes div.col-sm-6 div.box.bannerbox i{
        font-size: 20px !important;
    }
    .hxpa-dashboard #menu6 div.leftside div.postsection div.post div.info div.heads + h4{
        margin-top: 4%;
        font-size: 16px;
    }
    .hxpa-dashboard #menu8 div.box div.notifications div.info p.content {
        margin-bottom: 2%;
        font-size: 16px;
    }
    .hxpa-dashboard #menu7 div.box div.col-sm-9 label{
        font-size: 16px !important;
    }
    .hxpa-dashboard #menu5 div.details{
        margin-top: 2%;
    }
}