/********************************/
/**Body**/
body {
    padding-top: 57px;
    font-family: 'Roboto', sans-serif;
}

* {
    transition-duration: 0.3s;
}
/**Body Ends**/


/********************************/
/** Navbar **/
.navbar-fixed-top {
    background-color: #fff;
    box-shadow: 0 0 8px 0 rgba(0,0,0,.3);
}

.navbar {    
    z-index: 100000;  
    border-bottom: 1px solid #e1e1e1;
}

.navbar #brand-logo{
    margin-top: -16px;
}

.navbar-bg {
    cursor: pointer;
}

.navbar-brand {
    padding: 20px;
    padding-bottom: 38px;
    padding-left: 10px;
    margin-bottom: -1px;
    color: #e52222;
    font-family: 'Titillium Web', sans-serif;
    font-weight: 700;
    font-size: 1.9em;
    margin-left: 30px !important;
}

.navbar-bg:hover {
    color: #e52222;
}

.navbar-brand img {
    float: left;
    margin-right: -5px;
    transform: scale(0.9);
}

#brand-name {
    position: relative;
    top: -1px;
}

#login-btn {
    text-decoration: none;
    border-bottom: 2px solid transparent;
    margin-top: 0px;
    margin-bottom: -1px;
    padding: 19px 60px;
    color: #999;
    margin-right: 0px;
    font-weight: 600;
    border-bottom: 2px solid #e52222;
    color: #e52222;
}

#login-btn:hover {
    background: rgba(0, 0, 0, 0.05);
}

@media(max-width:767px){
    
    .bg1 .row_2 .col-sm-12 {
        margin-top: -30px;
    }
    
    .login_ctrl {
        position: absolute;
        top: -8px;
        right: 15px;
    }
    
    nav {
        position: relative;
    }
}
/**Navbar Ends**/


/******************************************/
/**Footer**/
footer {
    margin-top: 30px;
}

footer .row_11 {
    padding: 20px 0;
    background: #333333;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.3) inset;
}

footer .row_11 a {
    color: #999;
}

footer .row_11 a:hover {
    color: #f1f1f1;
}

footer .row_11 a:focus {
    text-decoration: none;
}

footer .row_13 {
    background: #333333;
}

footer .row_13 {
    padding: 5px 0 20px;
}

footer .row_13 a {
    text-decoration: none;
    color: #fff;
}

.social {
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -webkit-transition-duration: 0.5s;
    -moz-transition-duration: 0.5s;
    -o-transition-duration: 0.5s;
}

.social:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
}

#social-fb:hover {
    color: #3B5998;
}
#social-tw:hover {
    color: #4099FF;
}
#social-gp:hover {
    color: #d34836;
}
#social-em:hover {
    color: #f39c12;
}

footer .row_12 p {
    margin: 0;
}

footer .row_12 {
	background-color: #2a2a2a !important;
	color:#ffffff;
	font-size:14px;
	text-align: center;
    padding: 20px;
    font-family: 'Roboto', sans-serif;
}
/**Footer Ends**/

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.sk-cube {
    background: #e63631 !important;
}